@model List<CodeCommunityFlow.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users Management";
    Layout = "~/Areas/Admin/Views/Shared/_AdminViewLayout.cshtml";
}
@if (TempData["SuccessUpdateUserScore"] != null)
{
    <div class="alert alert-success" id="successAlert">@TempData["SuccessUpdateUserScore"]</div>
}

@if (TempData["SuccessWarn"] != null)
{
    <div class="alert alert-success" id="successAlert">@TempData["SuccessWarn"]</div>
}

@if (TempData["SuccessDelete"] != null)
{
    <div class="alert alert-success" id="successAlert">@TempData["SuccessDelete"]</div>
}


@Html.Partial("UsersTablePartial", Model)

<script>
    setTimeout(function () {
        var alert = document.getElementById("successAlert")
        if (alert) {
            alert.classList.remove("show")
            alert.classList.add("fade")
            alert.style.opacity = 0
            setTimeout(() => alert.remove(), 500) // remove from DOM after fade
        }
    }, 3000); // 3000ms
</script>