
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>About</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Shared and Build!</h1> <br />
            <h3>Passionate Developers come to CodeCommunityFlow to learn, share their knowledge, and build their careers.</h3>
            <p class="lead">Join to developer community.</p>
        </div>
    </div>
</div>


<div class="logos__marquee">
    <div class="marquee__logos">
        <img src="~/Image/github.png" width="150" height="52" loading="eager" alt="Github" class="intro-logos_logo">

        <img src="~/Images/OurPartners/Philips.png" width="100" height="20" loading="eager" alt="Philips" class="intro-logos_logo">
        <img src="~/Images/OurPartners/Microsoft.jpg" width="222" height="80" loading="eager" alt="Microsoft" class="intro-logos_logo">
        <img src="~/Images/OurPartners/Logitech_logo.svg.png" width="100" height="30" loading="eager" alt="Logitect" class="intro-logos_logo">
        <img src="~/Images/OurPartners/slack.jpg" width="125" height="70" loading="lazy" alt="Slack" class="intro-logos_logo">
        <img src="~/Images/OurPartners/Verizon_Media_2019_logo.svg.png" width="140" height="45" loading="eager" alt="Lattice" class="intro-logos_logo">
        <img src="~/Images/OurPartners/wisetech globol.png" width="215" height="45" loading="eager" alt="wisetect global" class="intro-logos_logo-wisetect">
        <img src="~/Images/OurPartners/instacart.jpg" width="130" height="80" loading="lazy" alt="instacart" class="intro-logos_logo">
        <img src="~/Images/OurPartners/intercom.svg" width="130" height="80" loading="eager" alt="intercom" class="intro-logos_logo">
        <img src="~/Images/OurPartners/dropbox.png" width="220" height="80" loading="eager" alt="intercom" class="intro-logos_logo">
    </div>
    <div class="marquee__logos" aria-hidden="true">
        <img src="~/Images/OurPartners/Philips.png" width="100" height="20" loading="eager" alt="Philips" class="intro-logos_logo">
        <img src="~/Images/OurPartners/Microsoft.jpg" width="222" height="80" loading="eager" alt="Microsoft" class="intro-logos_logo">
        <img src="~/Images/OurPartners/Logitech_logo.svg.png" width="100" height="30" loading="eager" alt="Logitect" class="intro-logos_logo">
        <img src="~/Images/OurPartners/slack.jpg" width="125" height="70" loading="lazy" alt="Slack" class="intro-logos_logo">
        <img src="~/Images/OurPartners/Verizon_Media_2019_logo.svg.png" width="140" height="45" loading="eager" alt="Lattice" class="intro-logos_logo">
        <img src="~/Images/OurPartners/wisetech globol.png" width="215" height="45" loading="eager" alt="wisetect global" class="intro-logos_logo-wisetect">
        <img src="~/Images/OurPartners/instacart.jpg" width="130" height="80" loading="lazy" alt="instacart" class="intro-logos_logo">
        <img src="~/Images/OurPartners/intercom.svg" width="130" height="80" loading="eager" alt="intercom" class="intro-logos_logo">
        <img src="~/Images/OurPartners/dropbox.png" width="220" height="80" loading="eager" alt="intercom" class="intro-logos_logo">
    </div>
</div>


<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our philosophy</div>
            <div class="card-body">

                <p style="text-indent: 1.5em;"> We are one of the world's largest developer communities to share their knowledge and abilities to help and support others with their problems.</p>
                <p style="text-indent: 1.5em;">  We encourage and believe that contributing information and experience will enhance the social network to be better.</p>
                <p style="text-indent: 1.5em;"> Our philosophy is that learning is infinite, when you know, you make the impact of the world.</p>

            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Our Partner</div>
            <div class="card-body">
                <p style="text-indent: 1.5em;"> CodeCommunityFlow for Teams is an enterprise-grade
                    knowledge sharing platform your developers already know and trust.</p>
            </div>
        </div>
    </div>
</div>



<script>

    $("a[href='/About']").attr("id", "active");
</script>